
.slick-prev:before,
.slick-next:before {
        color: #000;
      }
.slick-slide {
        margin: 0 10px;
      }
.slick-list {
        margin: 0 -10px;
      }
.marquee {
        display: flex;
        overflow: hidden;       
        animation: marquee 50s linear infinite;
      }
@keyframes marquee {
              0% { transform: translate(0); }
              100% { transform: translate(calc(-100% - 2.5rem)); }
          }